<h1>Listing class_vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Clase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_vehicles.each do |class_vehicle| %>
      <tr>
        <td><%= class_vehicle.clase %></td>
        <td><%= link_to 'Show', class_vehicle %></td>
        <td><%= link_to 'Edit', edit_class_vehicle_path(class_vehicle) %></td>
        <td><%= link_to 'Destroy', class_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class vehicle', new_class_vehicle_path %>
