<h1>Listing transits</h1>

<table>
  <thead>
    <tr>
      <th>Transito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transits.each do |transit| %>
      <tr>
        <td><%= transit.transito %></td>
        <td><%= link_to 'Show', transit %></td>
        <td><%= link_to 'Edit', edit_transit_path(transit) %></td>
        <td><%= link_to 'Destroy', transit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transit', new_transit_path %>
