<%= form_for(@insurer) do |f| %>
  <% if @insurer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insurer.errors.count, "error") %> prohibited this insurer from being saved:</h2>

      <ul>
      <% @insurer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom_aseguradora %><br>
    <%= f.text_field :nom_aseguradora %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
