<%= form_for(@modelo) do |f| %>
  <% if @modelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modelo.errors.count, "error") %> prohibited this modelo from being saved:</h2>

      <ul>
      <% @modelo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Accident %><br>
    <%= f.text_field :Accident %>
  </div>
  <div class="field">
    <%= f.label :informe %><br>
    <%= f.number_field :informe %>
  </div>
  <div class="field">
    <%= f.label :transito %><br>
    <%= f.number_field :transito %>
  </div>
  <div class="field">
    <%= f.label :transit_id %><br>
    <%= f.number_field :transit_id %>
  </div>
  <div class="field">
    <%= f.label :gravedad %><br>
    <%= f.number_field :gravedad %>
  </div>
  <div class="field">
    <%= f.label :latitud %><br>
    <%= f.text_field :latitud %>
  </div>
  <div class="field">
    <%= f.label :longitud %><br>
    <%= f.text_field :longitud %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :localidad %><br>
    <%= f.text_field :localidad %>
  </div>
  <div class="field">
    <%= f.label :fecha_ocurrencia_at %><br>
    <%= f.datetime_select :fecha_ocurrencia_at %>
  </div>
  <div class="field">
    <%= f.label :fecha_levantamiento_at %><br>
    <%= f.datetime_select :fecha_levantamiento_at %>
  </div>
  <div class="field">
    <%= f.label :clase_accidente %><br>
    <%= f.number_field :clase_accidente %>
  </div>
  <div class="field">
    <%= f.label :choque_con %><br>
    <%= f.number_field :choque_con %>
  </div>
  <div class="field">
    <%= f.label :objeto_fijo %><br>
    <%= f.number_field :objeto_fijo %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.number_field :area %>
  </div>
  <div class="field">
    <%= f.label :sector %><br>
    <%= f.number_field :sector %>
  </div>
  <div class="field">
    <%= f.label :zona %><br>
    <%= f.number_field :zona %>
  </div>
  <div class="field">
    <%= f.label :diseno %><br>
    <%= f.number_field :diseno %>
  </div>
  <div class="field">
    <%= f.label :clima %><br>
    <%= f.number_field :clima %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
