<h1>Listing modelos</h1>

<table>
  <thead>
    <tr>
      <th>Accident</th>
      <th>Informe</th>
      <th>Transito</th>
      <th>Transit</th>
      <th>Gravedad</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th>Direccion</th>
      <th>Localidad</th>
      <th>Fecha ocurrencia at</th>
      <th>Fecha levantamiento at</th>
      <th>Clase accidente</th>
      <th>Choque con</th>
      <th>Objeto fijo</th>
      <th>Area</th>
      <th>Sector</th>
      <th>Zona</th>
      <th>Diseno</th>
      <th>Clima</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modelos.each do |modelo| %>
      <tr>
        <td><%= modelo.Accident %></td>
        <td><%= modelo.informe %></td>
        <td><%= modelo.transito %></td>
        <td><%= modelo.transit_id %></td>
        <td><%= modelo.gravedad %></td>
        <td><%= modelo.latitud %></td>
        <td><%= modelo.longitud %></td>
        <td><%= modelo.direccion %></td>
        <td><%= modelo.localidad %></td>
        <td><%= modelo.fecha_ocurrencia_at %></td>
        <td><%= modelo.fecha_levantamiento_at %></td>
        <td><%= modelo.clase_accidente %></td>
        <td><%= modelo.choque_con %></td>
        <td><%= modelo.objeto_fijo %></td>
        <td><%= modelo.area %></td>
        <td><%= modelo.sector %></td>
        <td><%= modelo.zona %></td>
        <td><%= modelo.diseno %></td>
        <td><%= modelo.clima %></td>
        <td><%= link_to 'Show', modelo %></td>
        <td><%= link_to 'Edit', edit_modelo_path(modelo) %></td>
        <td><%= link_to 'Destroy', modelo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modelo', new_modelo_path %>
