<p id="notice"><%= notice %></p>

<p>
  <strong>Accident:</strong>
  <%= @modelo.Accident %>
</p>

<p>
  <strong>Informe:</strong>
  <%= @modelo.informe %>
</p>

<p>
  <strong>Transito:</strong>
  <%= @modelo.transito %>
</p>

<p>
  <strong>Transit:</strong>
  <%= @modelo.transit_id %>
</p>

<p>
  <strong>Gravedad:</strong>
  <%= @modelo.gravedad %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @modelo.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @modelo.longitud %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @modelo.direccion %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @modelo.localidad %>
</p>

<p>
  <strong>Fecha ocurrencia at:</strong>
  <%= @modelo.fecha_ocurrencia_at %>
</p>

<p>
  <strong>Fecha levantamiento at:</strong>
  <%= @modelo.fecha_levantamiento_at %>
</p>

<p>
  <strong>Clase accidente:</strong>
  <%= @modelo.clase_accidente %>
</p>

<p>
  <strong>Choque con:</strong>
  <%= @modelo.choque_con %>
</p>

<p>
  <strong>Objeto fijo:</strong>
  <%= @modelo.objeto_fijo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @modelo.area %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @modelo.sector %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @modelo.zona %>
</p>

<p>
  <strong>Diseno:</strong>
  <%= @modelo.diseno %>
</p>

<p>
  <strong>Clima:</strong>
  <%= @modelo.clima %>
</p>

<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', modelos_path %>
