<%= form_for(@type_insurer) do |f| %>
  <% if @type_insurer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_insurer.errors.count, "error") %> prohibited this type_insurer from being saved:</h2>

      <ul>
      <% @type_insurer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_seguro %><br>
    <%= f.text_field :tipo_seguro %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
