<h1>Listing type_insurers</h1>

<table>
  <thead>
    <tr>
      <th>Tipo seguro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_insurers.each do |type_insurer| %>
      <tr>
        <td><%= type_insurer.tipo_seguro %></td>
        <td><%= link_to 'Show', type_insurer %></td>
        <td><%= link_to 'Edit', edit_type_insurer_path(type_insurer) %></td>
        <td><%= link_to 'Destroy', type_insurer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type insurer', new_type_insurer_path %>
