
<%= form_for(@accident) do |f| %>
  <% if @accident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accident.errors.count, "error") %> prohibited this accident from being saved:</h2>

      <ul>
      <% @accident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :informe %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :informe %>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :transito %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :transito %>
        </div>
        </div>      
    </div>    
  </div>

  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :transit_id %>
        </div>
        <div class="small-8 columns">
         <%= f.number_field :transit_id %>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :gravedad %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :gravedad %>
        </div>
        </div>      
    </div>    
  </div>
 <%= f.hidden_field :latitud %>
 <%= f.hidden_field :longitud %>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :direccion %>          
        </div>
        <div class="small-10 columns">
           <%= f.text_field :direccion %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :localidad %>
        </div>
        <div class="small-8 columns">
         <%= f.text_field :localidad %>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :gravedad %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :gravedad %>
        </div>
        </div>      
    </div>    
  </div>      

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label "Ocurrencia" %>         
        </div>
        <div class="small-10 columns">
          <div class="row">
            <div class="small-2 columns"><%= select_year Date.today, prefix: :accident, field_name:"fecha_ocurrencia_at(1i)" %></div>
            <div class="small-2 columns"><%= select_month Date.today, prefix: :accident, field_name:"fecha_ocurrencia_at(2i)" %></div>
            <div class="small-2 columns"><%= select_day Date.today, prefix: :accident, field_name:"fecha_ocurrencia_at(3i)" %></div>
            <div class="small-2 columns"><%= select_hour(Date.today, prefix: :accident, field_name:"fecha_ocurrencia_at(4i)") %></div>
            <div class="small-2 columns"><%= f.label "Minutos" %></div>
            <div class="small-2 columns"><%= select_minute(Date.today, prefix: :accident, field_name:"fecha_ocurrencia_at(5i)") %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label "Levantamiento" %>         
        </div>
        <div class="small-10 columns">
          <div class="row">
            <div class="small-2 columns"><%= select_year Date.today, prefix: :accident, field_name:"fecha_levantamiento_at(1i)" %></div>
            <div class="small-2 columns"><%= select_month Date.today, prefix: :accident, field_name:"fecha_levantamiento_at(2i)" %></div>
            <div class="small-2 columns"><%= select_day Date.today, prefix: :accident, field_name:"fecha_levantamiento_at(3i)" %></div>
            <div class="small-2 columns"><%= select_hour(Date.today, prefix: :accident, field_name:"fecha_levantamiento_at(4i)") %></div>
            <div class="small-2 columns"><%= f.label "Minutos" %></div>
            <div class="small-2 columns"><%= select_minute(Date.today, prefix: :accident, field_name:"fecha_levantamiento_at(5i)") %></div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :clase_accidente %>
        </div>
        <div class="small-8 columns">
         <%= f.number_field :clase_accidente %>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :choque_con %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :choque_con %>
        </div>
        </div>      
    </div>    
  </div>      

  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :objeto_fijo %>
        </div>
        <div class="small-8 columns">
         <%= f.number_field :objeto_fijo %>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :area %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :area %>
        </div>
        </div>      
    </div>    
  </div>   

  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :sector %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :sector %>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :zona %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :zona %>
        </div>
        </div>      
    </div>    
  </div>  

  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :diseno %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :diseno %>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :clima %>
        </div>
        <div class="small-8 columns">
          <%= f.number_field :clima %>
        </div>
        </div>      
    </div>    
  </div>  

 
    <div class="actions">
      <%= f.submit class: "button small radius" %>
    </div>
  
<% end %>  

