<p id="notice"><%= notice %></p>

<p>
  <strong>Informe:</strong>
  <%= @accident.informe %>
</p>

<p>
  <strong>Transito:</strong>
  <%= @accident.transito %>
</p>

<p>
  <strong>Transit:</strong>
  <%= @accident.transit_id %>
</p>

<p>
  <strong>Gravedad:</strong>
  <%= @accident.gravedad %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @accident.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @accident.longitud %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @accident.direccion %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @accident.localidad %>
</p>

<p>
  <strong>Fecha ocurrencia at:</strong>
  <%= @accident.fecha_ocurrencia_at %>
</p>

<p>
  <strong>Fecha levantamiento at:</strong>
  <%= @accident.fecha_levantamiento_at %>
</p>

<p>
  <strong>Clase accidente:</strong>
  <%= @accident.clase_accidente %>
</p>

<p>
  <strong>Choque con:</strong>
  <%= @accident.choque_con %>
</p>

<p>
  <strong>Objeto fijo:</strong>
  <%= @accident.objeto_fijo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @accident.area %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @accident.sector %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @accident.zona %>
</p>

<p>
  <strong>Diseno:</strong>
  <%= @accident.diseno %>
</p>

<p>
  <strong>Clima:</strong>
  <%= @accident.clima %>
</p>

<%= link_to 'Edit', edit_accident_path(@accident) %> |
<%= link_to 'Back', accidents_path %>
