<p id="notice"><%= notice %></p>

<p>
  <strong>Gravedad:</strong>
  <%= @driver.gravedad %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @driver.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @driver.telefono %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @driver.ciudad %>
</p>

<p>
  <strong>Porta licencia:</strong>
  <%= @driver.porta_licencia %>
</p>

<p>
  <strong>Num licencia:</strong>
  <%= @driver.num_licencia %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @driver.categoria %>
</p>

<p>
  <strong>Restriccion:</strong>
  <%= @driver.restriccion %>
</p>

<p>
  <strong>Expven:</strong>
  <%= @driver.expven %>
</p>

<p>
  <strong>Fecha expven at:</strong>
  <%= @driver.fecha_expven_at %>
</p>

<p>
  <strong>Cod transito:</strong>
  <%= @driver.cod_transito %>
</p>

<p>
  <strong>Chaleco:</strong>
  <%= @driver.chaleco %>
</p>

<p>
  <strong>Casco:</strong>
  <%= @driver.casco %>
</p>

<p>
  <strong>Cinturon:</strong>
  <%= @driver.cinturon %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @driver.hospital %>
</p>

<p>
  <strong>Lesiones:</strong>
  <%= @driver.lesiones %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
