<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @vehicle.placa %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @vehicle.nacionalidad %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @vehicle.brand_id %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @vehicle.linea %>
</p>

<p>
  <strong>Colod:</strong>
  <%= @vehicle.colod_id %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehicle.modelo %>
</p>

<p>
  <strong>Carroceria:</strong>
  <%= @vehicle.carroceria %>
</p>

<p>
  <strong>Toneladas:</strong>
  <%= @vehicle.toneladas %>
</p>

<p>
  <strong>Pasajeros:</strong>
  <%= @vehicle.pasajeros %>
</p>

<p>
  <strong>Licencia transito:</strong>
  <%= @vehicle.licencia_transito %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @vehicle.empresa %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @vehicle.nit %>
</p>

<p>
  <strong>Matriculado en:</strong>
  <%= @vehicle.matriculado_en %>
</p>

<p>
  <strong>Inmovilizado en:</strong>
  <%= @vehicle.inmovilizado_en %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @vehicle.deposito %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @vehicle.registro %>
</p>

<p>
  <strong>Revision sino:</strong>
  <%= @vehicle.revision_sino %>
</p>

<p>
  <strong>Revision numero:</strong>
  <%= @vehicle.revision_numero %>
</p>

<p>
  <strong>Acompanantes:</strong>
  <%= @vehicle.acompanantes %>
</p>

<p>
  <strong>Class vehicle:</strong>
  <%= @vehicle.class_vehicle_id %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @vehicle.modalidad %>
</p>

<p>
  <strong>Radio accion:</strong>
  <%= @vehicle.radio_accion %>
</p>

<p>
  <strong>Danos materiales:</strong>
  <%= @vehicle.danos_materiales %>
</p>

<p>
  <strong>Lugar impacto:</strong>
  <%= @vehicle.lugar_impacto %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
